<h1>Maybe you shoul join the army. That might make a man out of you</h1>
<h1>Medical school is fairly cheap these days. Give that a try.</h1>
<h1>Sorry I went out to lunch. Be back in 20 min</h1>
<h1>Don't look behind you. Bad news bears.</h1>
<h1>I don't know that answer and I don't care</h1>
<h1>That's what your mom asked me the other day.</h1>
<h1>The better question is: 'Who cares?'</h1>
<h1>Maybe I should find a better job. These questions are ridiculous.</h1>