<html>
	<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/ball.css">
		<title>The 8 Ball</title>
	</head>
	<body>
		<nav>
			<a class="buttons" href="/">Home</a>
			<a class="buttons" href="/answers">Answers</a>
		</nav>

		<%= yield %>

		<footer>
			Constructed by BellNet LLC
		</footer>
	</body>
</html>