.buttons:hover{
	background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
.intro{
	text-align: center;
	color: green;
}
.form{
	text-align: center
}
.eight_ball{
	text-align: center;
	width: 600px;
	margin-top: 50px
}